body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.header {
  background: #222222;
  height: 75px;
  padding: 17px 25px;
  box-sizing: border-box;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cart-button {
  background-color: #ff7f50;
  height: 40px;
  width: 100px;
  font-size: 17px;
  border-radius: 10px;
  font-weight: bold;
}

.leftHeader {
  color: #ff7f50;
  font-weight: bold;
  font-size: 20px;
}

.goods-list {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-wrap{
  height: 150px;
  width: 200px;
  background-color: grey;
}
.goods-item {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
}

.goods-button{
  background-color:  #ff7f50;
  font-size: 17px;
  font-weight: bold;
}
